@page "{message}"
@model TestProject.MeterReading.App.Pages.Shared.ResultModel
@{


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>{message}</h3>
    <h3>@Model.Message</h3>
</body>
</html>
